@media screen and (max-width: 1664px) {
  .slick-prev {
    left: -40px;
  }

  .slick-next {
    right: -40px;
  }
}
@media screen and (max-width: 1227px) {
  #section-2 .container .info-top,
#section-2 .container .info-bottom {
    gap: 40px;
  }
}
@media screen and (max-width: 1200px) {
  #header .container .info-left {
    gap: 0;
  }
  #header .container .info-left .navigation .list {
    display: none;
  }

  .hamburger {
    display: block;
  }

  #section-2 {
    margin-bottom: 60px;
  }
  #section-2 h2.title {
    margin-bottom: 100px;
  }
  #section-2 .container {
    gap: 30px;
  }
  #section-2 .container .info-top,
#section-2 .container .info-bottom {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #section-2 .container .info-top .img-wrap,
#section-2 .container .info-bottom .img-wrap {
    width: 450px;
  }
  #section-2 .container .info-top .img-wrap {
    box-shadow: -70px -38px #55b7ff;
  }
  #section-2 .container .info-bottom .img-wrap {
    box-shadow: 70px -38px #7e5aff;
  }
  #section-2 .container .text-wrap {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #section-2 .container .text-wrap .title,
#section-2 .container .text-wrap .text-info {
    text-align: center;
  }

  #section-3 {
    margin-bottom: 100px;
  }
  #section-3 .container .title {
    margin-bottom: 70px;
  }
  #section-3 .container .wrap {
    margin: 0 60px;
  }

  #section-4 {
    padding: 0px 0;
    margin-bottom: 70px;
  }

  #section-5 #map {
    height: 500px;
  }

  #footer {
    padding-top: 300px;
  }
  #footer .contacts-wrap {
    width: 650px;
    top: -200px;
    padding: 80px 20px;
  }
}
@media screen and (max-width: 1130px) {
  #section-1 .background-slider .wrap {
    height: 730px;
  }
  #section-1 .background-slider .bg .container h1 {
    font-size: 60px;
  }

  #section-3 {
    margin: 70px 0;
  }
}
@media screen and (max-width: 952px) {
  #section-1 .background-slider .slick-dots {
    gap: 10px;
    bottom: 100px;
  }

  #section-3 .news-slider .slick-dots {
    gap: 10px;
  }

  #section-4 .container .title {
    margin-bottom: 20px;
  }
  #section-4 .container .gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  #section-4 .container .gallery a {
    width: 65%;
  }
}
@media screen and (max-width: 686px) {
  #footer {
    padding-top: 460px;
  }
  #footer .contacts-wrap {
    padding: 50px 20px;
    width: 400px;
  }
  #footer .contacts-wrap .contacts {
    flex-direction: column-reverse;
    align-items: center;
    gap: 50px;
  }
  #footer .contacts-wrap .contacts .form .btn {
    align-self: center;
  }
}