$base-size: 16;

@mixin fz($size_px) {
  font-size: ($size_px / $base-size) * 1rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  @include fz(16);
  font-family: "Montserrat";
  min-width: 550px;
}

a,
button {
  cursor: pointer;
  transition: all 0.2s ease;
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

ul,
ol {
  list-style: none;
}

.container {
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}
//FIXME:socials header + footer

//FIXME:HEADER

#header {
  width: 100%;
  position: fixed;
  left: 0;
  padding: 51px 0;
  z-index: 1000;
  transition: all 0.5s ease;
  background: transparent;
  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      90deg,
      rgba(77, 166, 233, 0.7),
      rgba(126, 90, 255, 0.7)
    );
    left: 0;
    top: 0;
    opacity: 0;
    z-index: -1;
    transition: all 0.5s ease;
  }
  &.fixed {
    padding: 10px 0 10px 0;
    &:after {
      opacity: 1;
    }
  }
  .container {
    display: flex;
    justify-content: space-between;
    .info-left {
      display: flex;
      gap: 167px;
      .logo-wrap {
        width: 241px;
        height: 54px;
      }
      .navigation {
        .list {
          display: flex;
          height: 100%;
          align-items: center;
          gap: 93px;
          .list__item {
            a {
              color: #ffffff;
              text-transform: uppercase;
              font-family: "Source Sans Pro";
              font-size: 14px;
              font-weight: 400;
              position: relative;
              &::before {
                content: "";
                position: absolute;
                left: -23px;
                top: 50%;
                transform: translateY(-50%);
                width: 9px;
                height: 9px;
                border: 1px solid #ffffff;
                border-radius: 50%;
                transition: all 0.2s ease;
              }
              &:hover::before {
                background-color: #fff;
              }
            }
          }
        }
      }
    }
    .info-right {
      display: flex;
      align-items: center;
    }
  }
}

//FIXME:HEADER

//FIXME:SOCIALS
.socials {
  display: flex;
  gap: 20px;
  .socials__item {
    position: relative;
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      border: 1px solid rgba(255, 255, 255, 0.4);
      border-radius: 50%;
    }
    &.facebook {
      &:hover a {
        background-color: #38529a;
        border: transparent;
      }
    }
    &.twitter {
      &:hover a {
        background-color: #4da6e9;
        border: transparent;
      }
    }
    &.instagram {
      &:hover a {
        background: linear-gradient(30deg, #f6b859, #9c34b2);
        border: transparent;
      }
    }
  }
}

//FIXME:SOCIALS

//FIXME:SLICK-DOTS
.slick-dots {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 30px;
  li {
    margin: 0;
    button {
      position: relative;
      &:before {
        position: absolute;
        content: "";
        width: 11px;
        height: 11px;
        border: 1px solid #ffffff;
        border-radius: 50%;
        opacity: 1;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
      }
      &:hover::before {
        background-color: rgba(255, 255, 255, 0.3);
      }
    }
    &.slick-active {
      button:before {
        background-color: #ffffff;
        opacity: 1;
      }
    }
  }
}

//FIXME:SLICK-DOTS

//FIXME:  TITLE
.title {
  font-family: "Montserrat";
  font-weight: 700;
  text-transform: uppercase;
}
//FIXME:   TITLE

//FIXME:BUTTON
.btn {
  background: transparent;
  border: none;
  width: 190px;
  height: 50px;
  text-transform: uppercase;
  font-family: "Montserrat";
  font-size: 14px;
  border: 1px solid #2c4058;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
  transition: all 0.3s ease;
  overflow: hidden;
  &:after {
    position: absolute;
    content: " ";
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
  }
  &:hover {
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5),
      -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
      inset -4px -4px 6px 0 rgba(255, 255, 255, 0.5),
      inset 4px 4px 6px 0 rgba(116, 125, 136, 0.3);
    color: #fff;
  }
  &:hover:after {
    transform: scale(2) rotate(180deg);
    background: #2c4058;
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5),
      -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
      inset -4px -4px 6px 0 rgba(255, 255, 255, 0.5),
      inset 4px 4px 6px 0 rgba(116, 125, 136, 0.3);
  }
}
//FIXME:BUTTON

//FIXME:SECTION-1

#section-1 {
  position: relative;
  margin-bottom: 130px;
  .background-slider {
    .wrap {
      height: 800px;
    }
    .bg {
      background-size: cover;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      .container {
        h1 {
          font-size: 80px;
          line-height: 98px;
          letter-spacing: 0.1em;
          text-align: center;
          margin-bottom: 20px;
          color: #ffffff;
          position: relative;
          left: 2px;
        }
        p {
          font-family: "Montserrat";
          font-size: 18px;
          font-weight: 400;
          line-height: 22px;
          letter-spacing: 0.3em;
          text-align: center;
          color: #ffffff;
          text-transform: uppercase;
          position: relative;
          left: 2px;
        }
      }
    }

    .slick-dots {
      flex-direction: column;
      width: auto;
      right: 52px;
      bottom: 50%;
      transform: translateY(50%);
    }
  }
  #scrollBtn {
    width: 40px;
    height: 40px;
    background: transparent;
    border: 1px solid #ffffff;
    border-radius: 50%;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    &::before {
      position: absolute;
      transition: all 0.2s ease;
      content: "";
      width: 5px;
      height: 5px;
      border-right: 1px solid #ffffff;
      border-bottom: 1px solid #ffffff;
      transform: rotate(45deg);
    }
    &:hover {
      width: 47px;
      height: 47px;
    }
    &:hover:before {
      width: 7px;
      height: 7px;
    }
  }
}
//FIXME:SECTION-1

h2.title {
  font-size: 44px;
  color: #2c4058;
  text-align: center;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    width: 100px;
    height: 1px;
    background: #2c4058;
    top: -32px;
    left: 50%;
    transform: translateX(-50%);
  }
}

//FIXME:SECTION-2

.section-2 {
  margin-bottom: 150px;

  h2.title {
    margin-bottom: 147px;
  }
  .container {
    display: flex;
    flex-direction: column;
    gap: 177px;
    .info-top,
    .info-bottom {
      display: flex;
      justify-content: space-between;

      .img-wrap {
        width: 630px;
        max-height: 470px;
        box-shadow: -258px -57px #55b7ff;
        img {
          -o-object-fit: contain;
          object-fit: contain;
        }
      }
      .text-wrap {
        text-align: left;
        align-self: end;
        padding-bottom: 26px;
        position: relative;
        top: 9px;
        .suptitle {
          font-family: "Montserrat";
          font-size: 22px;
          font-weight: 400;
          line-height: 27px;
          text-transform: uppercase;
          color: #2c4058;
        }
        .title {
          font-size: 44px;
          font-weight: 700;
          margin-bottom: 19px;
          text-align: left;
          color: #2c4058;
        }
        .text-info {
          max-width: 470px;
          font-family: "Open Sans";
          font-size: 18px;
          font-weight: 400;
          line-height: 30px;
          color: #2c4058;
          margin-bottom: 40px;
        }
        .btn {
          position: relative;
          top: -10px;
          margin-bottom: 60px;
        }
        .adress {
          position: relative;
          top: -9px;
          display: flex;
          gap: 10px;
          img {
            width: 9px;
            height: 17px;
            -o-object-fit: contain;
            object-fit: contain;
            transition: all 0.2s ease;
          }
          a {
            font-family: "Open Sans";
            font-size: 15px;
            font-style: italic;
            font-weight: 400;
            color: #000000;
          }
          &:hover img {
            transform: scale(2) translateY(-15%);
          }
        }
      }
    }
    .info-bottom {
      flex-direction: row-reverse;
      .img-wrap {
        box-shadow: 261px -58px #7e5aff;
      }
    }
  }
}

//FIXME:SECTION-2

//FIXME:SECTION-3

#section-3 {
  padding: 150px 0 170px 0;
  margin-bottom: 180px;
  background-size: cover;
  h2.title {
    margin-bottom: 90px;
    color: #ffffff;
    &:before {
      background: #fff;
    }
  }
  .news-slider {
    .wrap {
      height: 574px;
      margin: 0 15px;
      transition: all 0.2s ease;
      position: relative;
      &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.8);
        -webkit-backdrop-filter: blur(2px);
        backdrop-filter: blur(2px);
        z-index: 1;
        transition: all 0.3s ease;
        opacity: 0;
      }
      &:after {
        content: "View More 🠮";
        color: #636161;
        text-transform: uppercase;
        text-align: center;
        font-weight: 700;
        font-size: 52px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: all 0.3s ease;
        z-index: 3;
        opacity: 0;
      }
      &:hover {
        &:before,
        &:after {
          opacity: 1;
          cursor: pointer;
        }
      }
      .news-item {
        width: 100%;
        height: 100%;
        padding-bottom: 30px;
        background-color: #fff;
        position: relative;
        .link {
          position: absolute;
          width: 100%;
          height: 100%;
          z-index: 4;
          left: 0;
          top: 0;
        }
        .img-wrap {
          width: 100%;
          height: 240px;
          margin-bottom: 28px;
        }
        .info {
          padding: 0 20px;
          .text-wrap {
            height: 216px;
            overflow: hidden;
          }
          h4.title {
            color: #2c4058;
            font-size: 22px;
            font-weight: 700;
            margin-bottom: 15px;
          }

          p.text {
            font-family: "Open Sans";
            font-size: 18px;
            font-weight: 400;
          }
          .author {
            display: flex;
            gap: 20px;
            position: relative;

            .avatar {
              width: 60px;
              height: 60px;
              img {
                border-radius: 50%;
              }
            }
            .author-name {
              display: inline-flex;
              flex-direction: column;
              justify-content: center;
              gap: 6px;
              p.name {
                font-family: "Montserrat";
                font-size: 18px;
                font-weight: 400;
                text-transform: uppercase;
              }
              p.date {
                font-family: "Montserrat";
                font-size: 14px;
                font-weight: 400;
                color: #55b7ff;
              }
            }
            &::before {
              content: ("");
              position: absolute;
              left: 0;
              top: -100px;
              width: 100%;
              height: 100px;
              background: linear-gradient(transparent, #fff 100%);
            }
          }
        }
      }
    }
    .slick-dots {
      bottom: -55px;
    }
  }
}

//FIXME:SECTION-3

//FIXME: SLICK-ARROWS
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 40px;
  width: 40px;
  top: 50%;
  font-size: 0;
  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(1.2) translateY(-50%);
  }
}
.slick-prev {
  left: -99px;
}
.slick-next {
  right: -99px;
}
.slick-arrow {
  background: transparent;
  border-radius: 50%;
  border: 1px solid #ffffff;
  &::before {
    display: none;
  }
}
.slick-arrow:after {
  content: "";
  width: 6px;
  height: 6px;
  border: solid #ffffff;
  position: absolute;
  border-width: 0 2px 2px 0;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}
.slick-prev:after {
  border-width: 2px 0 0px 2px;
}

//FIXME: SLICK-ARROWS

//FIXME:SECTION-4
#section-4 {
  margin-bottom: 150px;
  .container {
    .title {
      margin-bottom: 91px;
    }
    .gallery {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 1fr);
      row-gap: 8px;
      -moz-column-gap: 14px;
      column-gap: 14px;
      margin-bottom: 60px;

      & .big {
        grid-column: 1/3;
        grid-row: 1/3;
      }
      a {
        position: relative;
        &::after {
          content: url(../images/section-4/Icon.svg);
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          transition: all 0.2s ease;
          opacity: 0;
        }
        &:hover:after {
          opacity: 1;
        }
      }
    }
    .btn {
      margin: 0 auto;
    }
  }
}

//FIXME:SECTION-4

//FIXME: GALLERY IMG SIZE

.lg-object {
  width: 550px !important;
}

//FIXME: GALLERY IMG SIZE

//FIXME:SECTION-5
#section-5 {
  #map {
    height: 700px;
    pointer-events: all;
    z-index: 2;
    .leaflet-marker-icon {
      cursor: default;
    }
  }
}

//FIXME:SECTION-5

//FIXME:FOOTER

#footer {
  padding: 203px 0 234px;
  position: relative;
  background-size: cover;
  width: 100%;
  height: 549px;

  .contacts-wrap {
    background-color: #fff;
    position: absolute;
    width: 770px;
    top: -301px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    padding: 90px 60px 68px 60px;
    .bg {
      position: absolute;
      bottom: 0;
      left: 0;
    }
    .title {
      margin-bottom: 42px;
    }
    .contacts {
      display: flex;
      justify-content: space-between;
      .list {
        display: flex;
        flex-direction: column;
        gap: 35px;
        .list__item {
          font-size: 18px;
          display: flex;
          gap: 10px;
          cursor: default;
          a {
            color: #000000;
          }
          i {
            transition: all 0.2s ease;
          }
          &:hover i {
            transform: scale(1.5);
          }
          &:last-child:hover i {
            transform: scale(1);
          }
        }
        z-index: 2;
      }
      .form {
        display: flex;
        flex-direction: column;
        width: 310px;
        position: relative;
        gap: 33px;
        .input-wrap {
          width: 100%;
          height: 41px;
          position: relative;
          z-index: 1;
          input {
            width: 100%;
            height: 100%;
            border: none;
            border: none;
            font-size: 22px;
            padding: 0 20px;
            outline: none;
            position: relative;
            border-bottom: 1px solid #262a3f1a;
            cursor: pointer;
            background-color: transparent;
          }

          label {
            font-size: 18px;
            font-weight: 400;
            line-height: 20px;
            color: #000000;
            position: absolute;
            bottom: 17px;
            left: 0;
            cursor: pointer;
            transition: all 0.3s ease;
            z-index: -1;
            &.active {
              transform: translateY(-20px);
              font-size: 16px;
              color: #262a3fd3;
            }
          }
          .underline {
            position: absolute;
            height: 1px;
            width: 100%;

            &:before {
              content: "";
              position: absolute;
              height: 100%;
              width: 100%;
              background: rgba(38, 42, 63, 0.4);
              transform: scaleX(0);
              transition: all 0.3s ease;
            }
            &.active:before {
              transform: scaleX(1);
            }
          }
        }

        .btn {
          width: 140px;
          align-self: end;
          position: relative;
          bottom: 5px;
          font-size: 18px;
        }
      }
    }
  }
  .container {
    display: flex;
    justify-content: space-between;
    max-width: 770px;
    .logo {
      display: flex;
      flex-direction: column;
      gap: 41px;
      img {
        -o-object-fit: contain;
        object-fit: contain;
      }
      .img-wrap {
        width: 241px;
      }
      .copyright {
        font-size: 14px;
        font-weight: 400;
        color: #fff;
      }
    }
    .socials {
      position: relative;
      top: 4px;
    }
  }
}

//FIXME:FOOTER

//FIXME:TOAST
#toast {
  position: fixed;
  top: 90px;
  right: 15px;
  padding: 10px 40px;
  text-transform: uppercase;
  background: greenyellow;
  font-size: 28px;
  z-index: 999;
  border-radius: 20px;
  transform: translateY(-300%);
  transition: all 1s ease;
  &.active {
    transform: translateY(0);
  }
}

//FIXME:TOAST

//FIXME: MARKER ANIMATION

@-webkit-keyframes fade {
  from {
    opacity: 0.3;
  }
}

@keyframes fade {
  from {
    opacity: 0.3;
  }
}

.blinking {
  -webkit-animation: fade 0.7s infinite alternate;
  animation: fade 0.7s infinite alternate;
}
//FIXME: MARKER ANIMATION

// МОБІЛЬНА НАВІГАЦІЯ З ІНТЕРНЕТУ
.hamburger {
  display: none;
}
.hamburger-inner {
  background-color: #fff;

  &:before,
  &:after {
    background-color: #fff;
  }
}
.hamburger.is-active .hamburger-inner {
  background-color: #fff;

  &:before,
  &:after {
    background-color: #fff;
  }
}

.main-nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  text-align: center;
  background: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  opacity: 0;
  z-index: -1;
  visibility: hidden;
  transition: all 0.375s;
}

.main-nav.is-open {
  opacity: 1;
  z-index: 100;
  visibility: visible;
}

/* Yellow band effect */
.main-nav::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: -15px;
  background: rgba(56, 82, 154, 0.7);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);

  transform-origin: 0 0;
  transform: skew(-14deg) translateX(-120%);
  transition: all 0.275s 0.1s;
}

.main-nav.is-open::before {
  transform: skew(-14deg) translateX(0);
}

/* Skewing effect on menu links */
.main-nav ul {
  display: inline-flex;
  flex-direction: column;
  height: 93%; /* Should be 100%, but we have a notice message :D */
  align-items: flex-end;
  justify-content: center;
  transform: translateX(-18%) skew(-16deg);
}

.main-nav li {
  display: block;
  margin: 0.5rem 0;
  text-align: right;
  transform: skew(16deg);
}

/* Apparition effect on links */
.main-nav a {
  opacity: 0;
  transform: translateY(-10px);
}

.main-nav.is-open a {
  opacity: 1;
  transform: translateY(0);
}
.main-nav li:nth-child(1) a {
  transition: all 275ms 175ms;
}
.main-nav li:nth-child(2) a {
  transition: all 275ms 225ms;
}
.main-nav li:nth-child(3) a {
  transition: all 275ms 275ms;
}
.main-nav li:nth-child(4) a {
  transition: all 275ms 325ms;
}
.main-nav li:nth-child(5) a {
  transition: all 275ms 375ms;
}

/* Decoration */
.main-nav ul,
.main-nav li {
  list-style: none;
  padding: 0;
}
.main-nav a {
  display: block;
  padding: 12px 0;
  color: #000000;
  text-transform: uppercase;
  font-size: 26px;
  text-decoration: none;
  font-weight: bold;
}

/* Burger Style: @see: https://codepen.io/CreativeJuiz/full/oMZNXy */
.open-main-nav {
  position: absolute;
  top: 15px;
  padding-top: 20px;
  right: 15px;
  z-index: 1000;
  background: none;
  border: 0;
  cursor: pointer;
}
.open-main-nav:focus {
  outline: none;
}

#map-img {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  &:before {
    content: "Click to see map ";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: all 0.3s ease;
  }
  &:hover::before {
    opacity: 1;
  }
}
